.App {
  width: 80%;
  margin: 0 auto;
}

.App .maeve-input input{
  width: 200px;
  height: 30px;
  border: 1px solid #efeeff;
  padding: 10px;
  font-size: 20px;
  border-radius: 2px;
}

.App .maeve-multi {
  width: 500px;
  margin: 50px 0px;
  overflow: hidden;
}

.App .maeve-multi .add-button{
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.App .maeve-multi-item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.App .remove-button {
  float: left;
  margin-left: 20px;
  font-size: 20px;
}

.App .add-button {
  width: 95%;
  float: left;
  padding: 5px;
  border: 1px solid gray;
}

.App section {
  border: 1px solid #efefef;
  margin: 10px 0px;
  padding: 10px;
  width: 70%;
  border-radius: 4px;
}

.App .maeve-input,
.App .maeve-multi {
  margin-top: 20px;
}